<html>
  <head>
    <title>Hangman</title>
  </head>
  <body>
    <h2>You guessed {{guessletter}}!</h2>
    <p>{{game.getDisplay}}</p>
  <p><a href='/startplay'>Check result</a></p>
  </body>
</html>
