<html>
  <head>
    <title>Hangman</title>
  </head>
  <body>
    <h2>Your word has been selected!</h2>
    <p>{{targetword.hideWord}}</p>
    <form action='/startplay'>
        <button type="submit">Let's play!</button>
    </form>
  </body>
</html>
